body {
  margin-top: 100px;
  background-color: #000000;
  color: #C0C0C0;
  text-align: center;
}

h1 {
  font: 2em, sans-serif;
  margin-bottom: 40px;
}

#loader {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);  width: 100%; height:1080px;
  border-radius: 50%;
  border-top-color: #C0C0C0;
  border-bottom-color:  #C0C0C0;
  border-right-color: #FFD700;
  border-left-color: #FFD700;
  animation: Spin 1s ease-in-out infinite;
  -o-animation: Spin 1s ease-in-out infinite;
  -webkit-animation: Spin 1s ease-in-out infinite;
  -moz-animation: Spin 0.001s ease-in-out infinite;
  -ms-animation: Spin 1s ease-in-out infinite;
  /*border: 2px solid #C0C0C0; width: 100%; height:1080px;*/
}

@keyframes Spin {
  to { -webkit-transform: rotate(360deg);}

}

@-webkit-keyframes Spin {
    to { -webkit-transform: rotate(360deg);}
}

@-o-keyframes Spin {
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes Spin {
    to { -webkit-transform: rotate(360deg);}
}

@-ms-keyframes Spin {
    to { -webkit-transform: rotate(360deg);}
}
